---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CoQEAAIAAI2RZGJaBlegmITKT-rdS24Uddo-X-Uqqaes0Wv6VvkO8PGhqZIH9OqRPVcA6W9646cZ6ablUmoy9Te9NSZXA8gzen9KioJe8YYWxob3L52QcYRjuxZG2I7GjfBzECqa-DRLIRCvkpjgmIz3Z-K9qXSQcRYpWximOFF1UGzZKh3BLezL0-62_GfWiG0Lce-Wivll4ggk7rDBUeK11Ob0lXyPPdOiEYVvoJuu9dCwfW2NSXq4khiIlEY1dp0XGZYEb3ZP6tTm6SxLZ3DZgc7vy8_3gJ9SOcQjk6ACUDzkBbXNhjEDFRjP9yEOh0gCevs-NINZ_Hdln-H3NrcUnWdCAhUtMu_cZYwmL8bA1vLE7ugHQU5iSeF_GhvisSkG0YdVUipvsXaQugD544df2NvHSyKcQcigZ9Go3L5Lq2OWdPBLjoGqYwficpa8L9kjc61r0mL1XJU6q03UDFuNHykU4LJSFRLMrCmGD1eM3627AQML3XGB-5Ia5H3pWMj97DPWsQmFKFG_TwWUirGGr7PYW77oV8G_cTwUVuoj5ju3OdaZX6mktPGHWH_vqXV-InZQ4jxXNQrDkcQpnQZrcg2t0dcxyltahpnCEwON9YUWK1i-4HudBbELkYTRyWWwY-gPgPleDanBkwRFXfiSzovv_T5x8dePWXeJd3sPw7AdXoVUEhAkqOrQTkBvhkf4Cfx53lxZGhTO77cF6VuJIw33MGDqUB8L_cgHvg",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8636013,
                       "lng" : 151.1944983
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8626520697085,
                          "lng" : 151.1953469802915
                       },
                       "southwest" : {
                          "lat" : -33.86535003029149,
                          "lng" : 151.1926490197085
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "7f4a3fdd07bb7911b51838d1c9055b08ee1c9293",
                 "name" : "Cafe Morso",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3456,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/113583986869543550599\"\u003eCafe Morso\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAI2EaHds_zg8NNDbWZmXWGw-O2ROld51CfDFDERfqNQN_1wnEWoxFvLydkycQ7E0z19rb3nDXojq0fwc0ARfcLC4lgL7d_YBPpzdmD1tmqnXrcZjLwThRJc6maSuv5OXOEhAccfH66VkOeBZy8KfzMzynGhRV5CEqeOdZJFDyQluUgkBitM1gww",
                       "width" : 5184
                    }
                 ],
                 "place_id" : "ChIJz2EHuEmuEmsRN_yScfn88Ec",
                 "plus_code" : {
                    "compound_code" : "45PV+HQ Pyrmont, New South Wales, Australia",
                    "global_code" : "4RRH45PV+HQ"
                 },
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "ChIJz2EHuEmuEmsRN_yScfn88Ec",
                 "scope" : "GOOGLE",
                 "types" : [
                    "cafe",
                    "bar",
                    "restaurant",
                    "food",
                    "point_of_interest",
                    "store",
                    "establishment"
                 ],
                 "user_ratings_total" : 317,
                 "vicinity" : "108/26-32 Pirrama Road, Pyrmont"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8669667,
                       "lng" : 151.1958862
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8656646697085,
                          "lng" : 151.1970863302915
                       }[...]
