---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=atm%7Clodging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8693652,
                       "lng" : 151.194084
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8681390697085,
                          "lng" : 151.1954927302915
                       },
                       "southwest" : {
                          "lat" : -33.8708370302915,
                          "lng" : 151.1927947697085
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/atm-71.png",
                 "id" : "6c49664eae2fd39063c4c4c163f94e60c52deab3",
                 "name" : "CBA ATM",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1186,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108287594118117598150\"\u003eX Tech\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAACoboKKtl4LFzhe4fqFV_LO8F8X3PULUYZFK7IfzENQv2fxr8VFicuOC6bf92l7U3ZMJs2HEJE-3fm8NmaS_JixOUPR3tl4KKvUvm91vrOC0Jz_PSY99GNjhrZ0jHqou7EhDpfsUltr7WiZdSMCB5wSVaGhTa-u2-JfJOo8MudOYDTIGy05pu4g",
                       "width" : 2106
                    }
                 ],
                 "place_id" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "plus_code" : {
                    "compound_code" : "45JV+7J Pyrmont, New South Wales, Australia",
                    "global_code" : "4RRH45JV+7J"
                 },
                 "rating" : 4.3,
                 "reference" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "scope" : "GOOGLE",
                 "types" : [ "atm", "bank", "finance", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 8,
                 "vicinity" : "2 Union Street, Pyrmont"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.869351,
                       "lng" : 151.19411
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86812721970851,
                          "lng" : 151.1955198802915
                       },
        [...]
