---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=atm%7Clodging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8693652,
                       "lng" : 151.194084
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8681390697085,
                          "lng" : 151.1954927302915
                       },
                       "southwest" : {
                          "lat" : -33.8708370302915,
                          "lng" : 151.1927947697085
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/atm-71.png",
                 "id" : "6c49664eae2fd39063c4c4c163f94e60c52deab3",
                 "name" : "CBA ATM",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1186,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108287594118117598150\"\u003eX Tech\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAnnzGu-7xQWEoCFgOmsj5vCh_YEvzpPwzMRPXLDIrFa0fMi08x1pEAN3P5l22hxHI8tAXRUpUsIlkUUQPz3VG1sJsnrFDTkA1Lb_dmhda15AAsXdre2nZBgXo8d7sOYzpEhA99ZXsrn3B6OPe2oeX85B-GhSz9IR0M4V1T8A9YYEo8XbuunCAlQ",
                       "width" : 2106
                    }
                 ],
                 "place_id" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "plus_code" : {
                    "compound_code" : "45JV+7J Pyrmont, New South Wales, Australia",
                    "global_code" : "4RRH45JV+7J"
                 },
                 "rating" : 4.3,
                 "reference" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "scope" : "GOOGLE",
                 "types" : [ "atm", "bank", "finance", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 8,
                 "vicinity" : "2 Union Street, Pyrmont"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.869351,
                       "lng" : 151.19411
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86812721970851,
                          "lng" : 151.1955198802915
                       },
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CoQE-gEAANIfIpEkFtyhHK6fjVbQULrlKtZugfuv0n_bs3aHQqxrZopSxcZlAevne70p48nL5ArEaySZKz5CfGjIC_tX9gmLxXUlNNg15ZMwVAe03AvgND7nf2Xv8BYzB-nUZwGSyAQxz42-l33dFUUgfXZ6FnDfWQcaLyBLGXqnatG-cZonhMTVkNcFB1WW_gWkk6qLvx7pQ4zymZtrl1jDsOrL2xHBGvCRgI0CCaJ7ElRgzxrFeVNMDzAO4R4uCfk4ADsvFtuKa2sWl1VIrnUPe4942ragdy-C52eAx-K-fxwqD38UVzM4XURJJvJvg6OPh8waAIlbg1H3erkDwW0B26m696GS78U6P9YC_KNHFDjx3zWujU3ZOwrmtq7Dlbk1S6eAt2Fsx-e89X4tDrNiXUOhDfQyschE0URFtXlcvwV0k8-_YeadyGyGbzLOc_Ja8B2cNKdkV8OkzAWbLX-3F7osf8_IASKUUYEjGgzpFTOQtt[...]
