---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "QuerySurge, West 38th Street, New York, NY, USA",
                 "id" : "13a77f901c8b1a11e18791fd31f56be229d27916",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJHweSsgBZwokR5WOxgiyiYrY",
                 "reference" : "ChIJHweSsgBZwokR5WOxgiyiYrY",
                 "structured_formatting" : {
                    "main_text" : "QuerySurge",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 5,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "West 38th Street, New York, NY, USA"
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "QuerySurge"
                    },
                    {
                       "offset" : 12,
                       "value" : "West 38th Street"
                    },
                    {
                       "offset" : 30,
                       "value" : "New York"
                    },
                    {
                       "offset" : 40,
                       "value" : "NY"
                    },
                    {
                       "offset" : 44,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "point_of_interest", "establishment" ]
              },
              {
                 "description" : "Query Mill Road, Gaithersburg, MD, USA",
                 "id" : "684b9d636594b43a973e1d259ec5d35ee61117d8",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "EiZRdWVyeSBNaWxsIFJvYWQsIEdhaXRoZXJzYnVyZywgTUQsIFVTQSIuKiwKFAoSCdPitmgt[...]
